{% extends 'base.html' %}

{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">About us page header section</p>
        </div>
    </div>
</header>

<div class="container">
    <div align="center">
        <p class="col-8">
            <br><br>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod metus eu sem volutpat viverra. Aenean
            at fermentum arcu, et accumsan purus. Duis eget ornare nunc, pellentesque tincidunt lorem. Nam maximus
            interdum lorem ut molestie. Sed ut ipsum nec erat vehicula pharetra. Donec luctus sagittis gravida. Praesent
            lacinia tellus in elit porttitor sollicitudin. Cras quis tortor lectus. Morbi bibendum sem at eros
            convallis, non vehicula tortor dignissim. Mauris vitae sapien a ligula ullamcorper venenatis et nec lectus.
            Nulla vitae iaculis augue, at efficitur sem. Cras rhoncus, justo in sodales vestibulum, quam orci tincidunt
            metus, ut molestie massa enim vitae ipsum. Fusce vel mattis arcu.
<br><br>
            Nunc cursus feugiat dui, quis rhoncus metus ornare ac. Aenean lorem erat, blandit ut auctor quis, lacinia id
            metus. Phasellus non imperdiet erat. Maecenas finibus quam ut sodales faucibus. Aliquam varius ullamcorper
            arcu in fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id risus nec libero auctor
            varius non sed tellus. Etiam a mauris ac lectus malesuada commodo. Etiam fringilla lorem vel ipsum dictum
            viverra. Curabitur sed mattis felis. Suspendisse potenti. Aenean aliquam sem et ante elementum placerat ut
            et odio. Nullam iaculis porttitor tellus non blandit. Praesent ultricies suscipit justo. Cras porta congue
            diam id eleifend. Quisque nec felis sit amet tellus tincidunt viverra quis nec tortor.
<br><br>
            Nunc ut odio non lorem scelerisque commodo. In feugiat, erat vel ultrices cursus, dolor arcu imperdiet
            lectus, sed tempus nisi erat a velit. Mauris rhoncus nec neque a egestas. Fusce porttitor tortor sit amet
            dui efficitur ullamcorper. Nulla urna ligula, scelerisque eget sodales ut, tincidunt eget nunc. Quisque id
            placerat velit, eget pharetra diam. Integer eget dolor lorem. Aliquam erat volutpat. Nunc dignissim cursus
            fermentum. Nulla cursus eros neque, et sollicitudin odio maximus ac. Sed pellentesque neque molestie libero
            suscipit, at ultricies leo semper.
            <br><br>
        </p>
    </div>
</div>
{% endblock %}